<%- include('../partials/header') %>
<section id="badge-container">

    <article class="badge">
      <h2><%= recipe.title %></h2>
      <p>Ingredients: </p>
      <ul>
        <% recipe.ingredients.forEach((i)=>{%>
            <li><%= i %></li>
       <% }) %>
      </ul>
      <p>Instructions: <%= recipe.instructions %></p>
    </article>

      <div>Image: </div>
      <img src="<%= recipe.image %>" alt="Recipe Image" class="recipe-image">
     
</section>

<h2>Reviews</h2>
<% recipe.reviews.forEach(function(review) { %>
  <article class="review">
    <p>Rating: <%= review.rating %></p>
    <p>Comment: <%= review.comment %></p>
  </article>
<% }) %>
<h1>Add a New Review</h1>
<form id="add-review-form" action="/recipes/<%= recipe._id %>/reviews" method="POST">
  <label>Rating:</label>
  <input type="number" name="rating" min="1" max="5">
  <label>Comment:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>