<%- include('../partials/header') %>
<section id="badge-container">

    <article class="badge">
      <h2><%= recipe.title %></h2>
      <p>Ingredients: <%= recipe.ingredients.join(', ') %></p>
      <p>Instructions: <%= recipe.instructions %></p>
      <div>Image: </div>
      <img src="<%= recipe.image %>" alt="Recipe Image">
      <!-- Add more details or styling as needed -->
    </article>
</section>
<!-- Display reviews if available -->
<h2>Reviews</h2>
<% recipe.reviews.forEach(function(review) { %>
  <article class="review">
    <p>Rating: <%= review.rating %></p>
    <p>Comment: <%= review.comment %></p>
  </article>
<% }) %>
<h1>Add a New Review</h1>
<form id="add-review-form" action="/recipes/<%= recipe._id %>/reviews" method="POST">
  <label>Rating:</label>
  <input type="number" name="rating" min="1" max="5">
  <label>Comment:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>